{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
<div class="siteContainer">
{% include "nav.html" %}
	<div class="wrapper2">
		<div id="form1">
		</div>
		<h1>{% trans "Password reset" %}</h1>
		<p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
		<form action="" method="post">
			{% if form.email.errors %}{{ form.email.errors }}{% endif %}
			<p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset my password"/></p>
		</form>
	</div>
</div>
{% endblock %}

