{% extends "base.html" %}
{% block title %}Images Site{% endblock %}
{% block head %}
	<title>Images Site</title>
{% endblock %}
{% block content %}
{% include "nav.html" %}
<div class="siteContainer">
<h2>Search challenges</h2>
<div id="form">
    <form id="challengeSearchForm" method="post" action="">
    	{% if form.non_field_errors %}
    	<p><span class="error">{{ form.non_field_errors|join:", "}}</span></p>
    	{% endif %}
    	{% if form.message.errors %}
    	<p><span class="error">{{ form.message.errors|join:", " }}</span></p>
    	{% endif %}
    	<p ><label class="label" for="name"></label>{{ form.name}}</p>
        <input type="submit" name="search" value="search" id="submitSearch"/>
    </form>
</div>
<div id="challengeHead"><h3>Challenges to Take</h3></div>
<div id="challenges">
<div class="pagination">
{% if challenges.has_previous %}
	<div id="previous">
		<a href="?page={{ challenges.previous_page_number }}" ><img src="{{ media_url }}/images/previous.png" alt="previous"></a>
	</div>
{% endif %}
{% if challenges.has_next %}
	<div id="next">
		<a href="?page={{ challenges.next_page_number }}"><img src="{{ media_url}}/images/next.png" alt="next"/></a>
    </div>
{% endif %}
</div>
{% for challenge in challenges.object_list %}
	<div class="challenge">
		<div class="challengeImage"><a href="/challenge/{{ challenge.id }}"><img src="{{ media_url}}{{ challenge.badge.badge_image }}" alt=""/></a></div>
		<div class="challengeItem">
			<div class="challengeTop">
				<div class="challengeRank">{{ forloop.counter }}.</div>
				<div class="challengeCaption"><a href="/challenge/{{ challenge.id }}">{{ challenge.name }}</a></div>
			</div>
			<div class="challengeBottom">
				<div class="challengeStats">
					{% if user.is_authenticated %}
					<a href="/vote/{{ challenge.id }}/up">+</a> |
					{% endif %}
					<a href="/user/{{ challenge.user }}">{{ challenge.user }}</a> |
					{{ challenge.number_of_images }} images
				</div>			
			</div>		
		</div>
	</div>
{% endfor %}
</div>
</div>
{% endblock %}